asgiref==3.8.1
astroid==2.15.8
asttokens==3.0.0
black==25.1.0
chardet==5.2.0
click==8.1.8
colorama==0.4.6
decorator==5.1.1
Django==5.1.5
django-debug-toolbar==5.0.1
executing==2.2.0
flake8==6.1.0
flake8-django==1.4
ipython==8.32.0
isort==5.13.2
jedi==0.19.2
lazy-object-proxy==1.10.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
prompt_toolkit==3.0.50
psycopg2==2.9.10
pure_eval==0.2.3
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.19.1
python-dotenv==1.0.1
sqlparse==0.5.3
stack-data==0.6.3
traitlets==5.14.3
tzdata==2025.1
wcwidth==0.2.13
wrapt==1.17.2
