
<!-- Фрагмент для вставки в block content для страницы about-->
<!-- 
Если добавите много текста для описния и footer будет "налазить" поверх текста,
то уберите со страницы about вставку стиля для footer-a, и его отпустит"
-->

{% extends "main/base.html" %}
{% load static %}


{% block css %}
    <!-- Стиль footer-a для главной страницы -->
    <link rel="stylesheet" href="{%static "deps/css/my_footer_css.css"%}">
{% endblock %}

{% block content %}
    <div  class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>{{ content }}</strong></h2>
        <p class="m-2">{{text_on_page}}</p>
    </div>

{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Ликсакова И.В.</p>
        </div>
    </footer>
{% endblock %}
